/* TABLET VIEW */
@media only screen and (max-width:992px) {
       
    .flex-container{

     flex-direction: column; 
    
    }

}


.navigation {
    display: flex;
  flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: #DEB89B;
    background-color: #DEB89B;

}



.intro{
align-items: center;
justify-content:center;
display:flex;
flex-direction: column;
}

#about{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding-top:0%;
    height: 50vh;
}
img{
    width:50%;
    height:auto;
}

#skills{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.icons{
    width:50%;
    height:auto;
    display: block;
    align-items: center;
}

.faq{
    margin: auto;
    width: 100%;
    justify-content: center; 
    text-align: center; 
    padding-bottom: 50px;
}

/* MOBILE VIEW */

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

@media only screen and (max-width: 478px) {
  
}
.flex-container {
    flex-direction: column;
  }

h1{
    text-align: center;
    font: "bebas-neue";
    font-size: 50px; 

}

h2{
    width: 50%;
    text-align: center;
    background-color:#DEB89B;
    font-size: 15px;
    font-family: "bebas neue"
}
.navigation {
    display: flex;
  flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: #DEB89B;
    background-color: #DEB89B;
    font-size: 0;
}
.navigation{
    align-items: center;
    display: flex;
    flex-direction: row;
    
}

.menu-toggle {
   display: flex;
 }

nav{
    display:none;
    flex-direction: column;
}

nav.show-menu{
    display:flex;

}

.icons{
    text-align: center;
    width: 35%;
    height: auto;
}
p{
    font-size: 15px;
    font-family: "Be Vietnam Pro"
}

.pictures{
    display: block;
  align-items: center;
    
}

.show-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2C0F0F;
    flex-direction: column;
    text-align: center;
  }