html {
    scroll-behavior: smooth;
    font-family: "Bebas Neue", "Be Vietnam Pro";
    font-weight: 700;
    color:#2C0F0F;
    text-transform:capitalize;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;}

.be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

img{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

body {
    background-color:#FFEDCF
    
} 

.navigation{
    display: flex;
    background-color: #DEB89B;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro{
    padding-top: 100px;
    width:100%;
    display: flex;
    justify-content: space-between

    
    
}

.icons{
 text-align: left;
 padding-bottom: 50px;
 
}

.about{
width: 560px;
height:70%;
}

.pictures{
   width: 100%;
   align-items: center;
   justify-content: center;
}

.faq{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 2000px;
}

h1{

    padding-left: 50px;
    font: "bebas-neue";
    font-size: 100px;
}

h2{
    width: 30%;
    padding-left:100px;
    background-color:#DEB89B;
    font-size: 40px;
    font: "bebas neue"


}
p{
   padding-left: 50px;
    font-size: 20px;
    font-family: "Be Vietnam Pro"


}

.footer{
   padding-top: 25px;
    padding-bottom: 25px;
   background-color: #DEB89B;
   text-align: center;

}