html {
    scroll-behavior: smooth;
    font-family: "Bebas Neue", "Be Vietnam Pro";
    font-weight: 700;
    color:#2C0F0F;
    
}

body{
    margin:0;
    padding:0;
}

h1{

   
    font: "bebas-neue";
    font-size: 70px;
}

h2 {
    display: block;
    width: fit-content;
    margin: 0 auto; 
    padding: 20px;
    border-style: solid;
    border-color: #DEB89B;
    background-color: #DEB89B;
    border-radius: 10px;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin-bottom:20px;
}

h3 {
    padding-left: 5px;
    font: "bebas-neue";
    font-size: 30px;
    text-align:left;
    margin-left:0;
    width:auto;
    padding-right:100px;
}

h4{
    font: "bebas-neue";
    font-size: 35px;
    text-align:left;
    margin-left:0;
    width:auto;
    padding-right:100px;
}


p {
    width: 80%; 
    margin: 0 auto;
    font-size: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    margin-top: 20px;
    padding-bottom:20px;
   color:#2C0F0F;
}

img{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

body {
    background-color:#FFEDCF
    
} 

/* Dark theme */

body.dark-mode .navigation{

background-color: #221610;
border-color:#221610;
}


body.dark-mode {
    background-color: #392E29;
    color: #FFEDCF;
  }

body.dark-mode p{
    color:#FFEDCF;
}

body.dark-mode h2{
    background-color: #221610;
    border-color: #221610;
    color:#FFEDCF;
}

body.dark-mode .footer{
    background-color: #221610;
    border-color: #221610;
}





.theme-toggle{
    background-color: #DEB89B;

}
.navigation {
    display: flex;
    justify-content: center; 
    align-items: center;
    border-style: solid;
    border-color: #DEB89B;
    background-color: #DEB89B;
    padding: 10px;
}

nav{
    display: flex;
    gap: 25px; 
    flex-wrap: wrap; 
    align-items: center; 
    padding-right:20px;
    color:#2C0F0F;

}
.menu-toggle {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001; 
  }
 
  .menu-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: #2C0F0F;
    border-radius: 2px;
  }
  
  
.intro{
    padding-top: 100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-left:40px; 
    padding-right:40px;
    max-height: 20%;
}

.hello{
    line-height: -1;
}

#skills{
    margin: auto;
  width: 75%;
}

.icons{
 padding-bottom: 100px;
 text-align: center;
}

#about{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}

.abt{
    text-align: center;
    width: 75%;
    justify-content: center;
    
}

#gallery{
    margin:auto;
    text-align:center;
    width:100%;
    
}
.pictures{
   width: 100%;
   align-items: center;
   justify-content: center;
}

#faq {
    margin: auto;
    width: 100%;
    display: flex; 
    justify-content: center; 
    text-align: center; 
    padding-bottom: 250px;
}

.faq {
    width: 100%;
    max-width: 600px;
    text-align: center;

}



.footer{
   padding-top: 25px;
    padding-bottom: 25px;
   background-color: #DEB89B;
   text-align: center;

}
